body {
border-top: 5px solid @red;
}

@-webkit-keyframes sidebar-init {
	0% {
		top: -10px;
		opacity: 0;
	}
	100% {
		top: 0px;
		opacity: 1;
	}
}

#sidebar {
	position: fixed;
	left: @sideMargin;
	width: @sidebarWidth;
	z-index: 800;
	height: 100%;
	background: @sidebarBackground;
	color: @sidebarTextColor;
	text-align: right;
	top: -10px;
	opacity: 0;

	&.visible {
		-webkit-animation: sidebar-init 1s ease-in-out 1;
		opacity: 1;
		top: 0px;
	}

	.container {
		width: auto;
		padding: @bodyPaddingTop 0 @mainContainerBottomPadding;
	}
	.profile {
		font-family: @sansFontFamily;
		a {
			color: @sidebarTextColor;
			&:hover {
				color: @linkColorHover;
			}
		}
		p {
			font-size: 0.688em;
			line-height: 1.4em;
		}
		h2 {
			font-size: .825em;
			line-height: @baseLineHeight;
			margin-top: 10px;
			margin-bottom: 0px;
			padding-bottom: 0px;
			padding-top: 0px;
		}
		.profile-thumb {
			height: @profileThumbWidth;
			img {
				-webkit-filter: grayscale(100%);
				height: auto;
				width: @profileThumbWidth;
				.border-radius(@profileThumbWidth);
			}
		}
		.author {

		}
	}

	.search {
		padding-top: @baseLineHeight;
		input {
			.border-radius(0px);
			border: 1px solid @grayLighter;
			text-align: right;
			.box-shadow(none);
			padding: 3px 10px;
			font-size: 12px;
			line-height: 14px;
			font-family: @sansFontFamily;
		}
	}
}

#main-container {
	position: relative;
	padding: @bodyPaddingTop @highlightOffset 0;
	margin-left: @sideMargin + @sidebarOffset + @sidebarWidth;
	margin-right: @sideMargin;
	z-index: 400;
	max-width: @mainContainerMaxWidth;
}

article {
	padding-bottom: @mainContainerBottomPadding;

	img {
		-webkit-filter: grayscale(100%);
	}
}

.highlight {
	margin-left: -@highlightOffset;
	margin-right: -@highlightOffset;
	padding: (@componentVerticalGutter / 2) 0;
	font-style: italic;
	text-align: justify;
	font-size: @baseFontSize * 1.25;
}
.controls {
	padding-top: 20px;
	.share, .navigate {
		min-width: 150px;
		> hr {
			border-top: 1px dashed @grayLight;
			margin-right: 75%;
			margin-bottom: 15px;
			margin-top: 10px;
			padding: 0px;
		}
		> a {
			display: inline-block;
			text-decoration: none;

			> i {
				font-size: 25px;
				color: @grayLight;
				.transition(0.2s color ease-in-out);
			}

			&:hover {
				> i {
					color: @gray;
				}
			}
		}
		&.pull-right, &.pull-left {
			> hr {
				margin-right: 0px;
			}
		}
		&.pull-left {
			> a {
				margin-right: 10px;
			}
		}
		&.pull-right {
			> a {
				margin-right: 0px;
				margin-left: 10px;
			}
		}
	}
	.navigate {
		padding-top: 27px;
	}
}



footer#footer {
	padding: 15px @sideMargin 60px (@sideMargin + @sidebarOffset + @sidebarWidth);
	background: @grayLightest;
	border-top: 1px solid @grayLighter;
	border-bottom: 5px solid @red;
	.box-shadow(inset #fff 0px 1px 4px);

	> .content {
		padding: 0 @highlightOffset;
		max-width: @mainContainerMaxWidth;

		h4 {
			font-size: 16px;
			line-height: 18px;
			padding: 0px @highlightOffset;
			margin: 0 0 15px;
		}
	}

	ul.related {
		font-family: @altFontFamily;
		margin-bottom: 35px;
		> li {
			margin-bottom: 10px;
		}
		&.icons-ul {
			> li {
				> .icon-li {
					font-size: 14px;
					color: @grayLight;
					left: -35px;
					top: 1px;
				}
			}
		}
	}

	.copy {
		font-family: @altFontFamily;
		hr {
			margin-bottom: 5px;
			border-top: 1px solid @grayLighter;
		}
		small {
			font-size: 12px;
			color: @gray;
		}
	}
	

}