!!!
html
	head
		meta(charset='utf8')
		title #{project}
		link(rel='stylesheet', href='css/#{appName}.css')

	body
		#sidebar
			.container
				.profile
					.profile-thumb
						img(src="http://lorempixel.com/200/200/people")
					.author
						h2 Author name
						p Bacon ipsum dolor sit amet capicola ham corned beef jerky, spare ribs ham hock bacon pork chop strip steak filet mignon frankfurter salami.
						p 
							a(href="https://twitter.com/") @AuthorName
				.search
					input.search-query.input-block-level(type="text", placeholder="Search")
		#main-container
			.row-fluid
				.span12
					.featured-img
						img(src="http://lorempixel.com/768/520/city")
					h1 Meet pork pastarami
					p.lead Bacon ipsum dolor sit amet capicola ham corned beef jerky, spare ribs ham hock bacon pork chop strip steak filet mignon frankfurter salami.
					p 
						strong Filet mignon chuck doner, 
						i venison 
						| ham swine tenderloin meatball pork loin ground round pork. Beef tri-tip ball tip chicken hamburger. Spare ribs pork loin boudin leberkas ground round short loin pastrami, doner andouille fatback sirloin. Chuck hamburger sausage ground round, jowl biltong salami. Flank ball tip shoulder short loin sausage. Fatback bresaola beef, beef ribs pastrami tail andouille pig.

					p.highlight Bacon ipsum dolor sit amet capicola ham corned beef jerky, spare ribs ham hock bacon pork chop strip steak filet mignon frankfurter salami.

					p Strip steak frankfurter sirloin, salami turkey ball tip jerky meatloaf filet mignon ham hock doner. Ribeye filet mignon tongue pork loin chuck turkey spare ribs corned beef kielbasa frankfurter. Short ribs meatball ribeye ham hock pork belly shankle boudin pork loin filet mignon cow pig fatback.

					ul 
						li Lorem
						li ipsum
						li dolor
					ol
						li Lorem
						li Ipsum
						li Dolor

					p 
						a(href="#") And a link here

					h2 Blockquotes and highlights

					blockquote Short ribs meatball ribeye ham hock pork belly shankle boudin pork loin filet mignon cow pig fatback.

					p.highlight Bacon ipsum dolor sit amet capicola ham corned beef jerky, spare ribs ham hock bacon pork chop strip steak filet mignon frankfurter salami.

					hr 

					h3 Related posts


